

.predict {
  padding-top: 1em;
  padding-left: 1em;
  color: #ff6969;
}

.select-menu {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 50em;
}


.select-menu .par {
  padding-left: 0.5em;
  margin-bottom: -.9em;
}
